<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
            <p align='left' style="font-weight: bold;font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;First things first, what is an Indaba?</p>
            <p align='left' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;An indaba is a Zulu word for a gathering or meeting. Such meetings are held throughout southern Africa, and serve several functions: to listen and share news of members of the community, to discuss common interests and issues facing the community, and to give advice and coach others. This spirit of coming together, of sharing and learning is one of the core values of our organisation, and hence, the best choice of name for it.</p>
            <p align='left' style="font-weight: bold;font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;What is an IndabaX?</p>
            <p align='left' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;A Deep Learning Indaba𝕏 is a locally-organised, Indaba that helps spread knowledge and builds capacity in machine learning.<\p>
            <p align='left' style='font-size:16px;' >&nbsp;&nbsp;&nbsp;&nbsp;IndabaX events are held throughout Africa in the period between March and May, keeping the spirit of the indaba alight all year long.</p>
            <p align='left' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;Find more about the Deep Learning Indaba below or visit the <a href='http//www.deeplearningindaba.com'>website</a>
            </p>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/RbxZB-oeEhw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

             <p align='left' style="font-weight: bold;font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;About The Deep learning Indaba </p>

             <p align='left' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;The Deep Learning Indaba is an organisation whose mission is to Strengthen Machine Learning and Artificial Intelligence in Africa. We work towards the goal of Africans being not only observers and receivers of the ongoing advances in AI, but active shapers and owners of these technological advances.</p>

             <p align='left' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;The Deep Learning Indaba aims to address two principal aims: African participation and contribution to the advances in artificial intelligence and machine learning, and diversity in these fields of science. The implications of these overarching goals is the spreading of technical  knowledge at the state-of-the art in the field; the opportunities for new research connections to be made and and silos in the research community to be broken;  the fostering of  a better understanding of the variety of career paths in the field, especially those that are in abundance locally; and through new friendships, perspectives and backgrounds, taking the steps to realising a more representative, inclusive and multicultural machine learning community.</p>

             <p align='left' style="font-weight: bold;font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;Deep learning Indaba's Programmes and Activities</p>
             <p align='left' style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;We execute our mission through three principal programmes: the annual Deep Learning Indaba, the IndabaX, and the Kambule and Maathai awards.  These programmes aim to build a sustainable pan-African community of AI expertise, create local leadership in AI in every country across the continent, and recognise excellence in research and application of AI technologies, respectively.</p>
    </div>
</section>
<!-- End Schedule Section -->
