<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
            <p align='left' style="font-weight: bold;font-size:18px;">&nbsp;&nbsp;&nbsp;&nbsp;IndabaXEgypt abides by the policies and codes of conduct as mandated by the Deep learning Indaba and the American University in Cairo</p>
            <p align='left' style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp; <a href='http://www.deeplearningindaba.com/conduct.html'> DL Indaba Code of Conduct</a></p>
            <p align='left' style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp; <a href='https://www.aucegypt.edu/about/university-policies '> AUC</a></p>
    </div>
</section>
<!-- End Schedule Section -->
